# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/
/public/eso-set-catalog/
/build/
/.vercel/

# misc
.DS_Store
*.pem
*.local

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# test output
/coverage/
